/*1) flex container and flex item;*/
.container {
    display: flex;
    border: 110px solid goldenrod;
    height: 100vh;
    flex-direction: row; /*Направление основной оси(по умолчанию)(column,row-reverse,column-reverse (в Одну линию по главной оси,с права на лево, в одну линия с низу вверх - теперь главная Ось вертикальная опять же.  ))*/
    /*flex-wrap: wrap; !*(Можно переносить элементы на другую строку) (Элементы для которого применяем должны иметь ширину% )*!*/
    /*flex-wrap: wrap-reverse; !*(Местами меняет элементы в контейнеры снизу вверх) Низ слева начинает считать *!*/
    flex-wrap: row-reverse; /*Тоже самое только с правого нижнего начинает считать*/
}
.box10 {
    order: -1; /*(поменяли порядок положения на странице -2,-3. У всех 0 по умолчанию)*/
}
.container {
    display: flex;
    /*justify-content: flex-start; !*(По умолчанию ВЫРАВНИВАЕТ ПО ОСНОВНОЙ ОСИ)*!*/
    /*justify-content: flex-end; !*(Прижимает все до правого края по основной оси(горизаонтальной))*!*/
    /*justify-content: center; !*По центру ставим контент*!*/
    /*justify-content: space-between; !*Поставит пробелы между блоками*!*/
    /*justify-content: space-around; !* Между первым и последним элементом будут отступы но меньше чем у остальных посередине*!*/
    justify-content: space-evenly; /*Свободное пространство между всеми блоками*/

}
.container {
    display: flex;
    height: 100vh;
    /*!*align-items: center;*! (Выравнивание по ДОПОЛЬНИТЕЛЬНОЙ ОСИ)*/
    /*justify-content: center; !*Выравнивание по центру*!*/
    /*align-items: stretch; (По умолчанию) */
    /*align-items: flex-start; ( С верху слева по допольнительной ОСИ начинает отсчет)*/
    /*align-items: flex-end; (Начинает отсчет снизу слева) */
}
.container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    /*Только когда есть перенос строки */
    /*align-content: flex-start; (Работает по ДОПОЛЬНИТЕЛЬНОЙ ОСИ. Переносит контент с другой стороны)*/
    /*align-content: space-between; (Зазор между элементами в блоке, строчка первая вверх, вторая внизу)*/
    /*justify-content: space-between; (Пробел по главной оси если есть свободное место. Задавать в %)*/
    /*align-content: space-around; (По бокам блока делают отступы)*/
    /*align-content: center; (Выравнивание по центру по вертикали)*/
    /*justify-content: center; (Выравнивание по горизонтали)*/
}

.box5 {
    align-self: flex-end; /*(Прибьет один элемент к низу. Но применяем flex ДЛЯ ВСЕГО КОНТЕЙНЕРА)
    Работает по допольнительной ОСИ , flex-start,flex-end,center, stretch */
    /*flex-grow: 1; (Жадность элемента. элемент Займет все пустое место, если оно есть. Делит элементы по пропорциям)*/
    /*flex-shrink: 1; /*(Когда не хватает места, элементы сжимаются)*/
    /*flex-basis: 200px/30%; Задает Ширину элементу/Analog wigth/ Но Если пишешь на флексе то пиши */
    flex: 1 10px 200px; /*(Короткая записать вверхних трех элементов)*/
}