@import "var.css";
@import "fonts.css";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    /*font-family: var(--text);*/
}
.wrapper {
    background-color: #ffffff;
}
.container {
    min-width: 320px;
    max-width: 1140px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.813rem;
    /*margin-bottom: 8rem;*/
}
.logo {
    font-family: var(--text-roboto);
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    color: #fedb6f;
}
.nav {
    width: 50%;
    /*display: flex;*/
    /*align-content: center;*/
    /*justify-content: space-between;*/
}
.link {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #3d3d3d;
    font-family: var(--text-monsterat);
    font-weight: 700;
}
.link:hover {
    color: #fed136;
}
.main {
    padding-bottom: 7.628rem;
}
.menu {
    display: flex;
    padding-top: 0.45rem;
    justify-content: space-between;
}
.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: var(--text-roboto);
    font-weight: 700;
    text-align: center;
    padding: 8rem 0 1.438rem;
}
.about-title {
    text-align: center;
    color: #8d8d8d;
    font-size: 1rem;
    font-family: var(--text-monsterat);
    font-style: italic;
    font-weight: 700;
    margin-bottom: 5.188rem;
}
.photo {
    display: flex;
    justify-content: space-between;
}
.services {
    text-align: center;
    width: 30%;
}
.title-services {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: var(--text-monsterat);
    font-weight: 700;
    margin: 1.75rem 0 1.313rem;
}
.text-services {
    font-size: 0.9rem;
    font-family: var(--text-roboto);
    font-weight: 400;
    color: #a2a2a2;
}
.title-two {
    color: #ffffff;
}
.wrapp2 {
    background-color: #222;
    background-image: url(../img/map-footer.png);
    -webkit-background-size: auto;
    background-size: auto;
    background-position: center right;
    background-repeat: no-repeat;
}
.form-us {
    display: flex;
    justify-content: space-around;
    min-height: 14rem;
}
.form-left {
    flex-basis: 30.44rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.contact-form-text, .contact-form-email, .subject-form {
    width: 100%;
    color: #cacaca;
    padding: 1.2rem;
    border: 2px solid #413d46;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: var(--text-monsterat);
    font-weight: 700;
}
.contact-form-text:hover  {
    border: 3px solid #00ff79;
}
.contact-form-email:hover {
    border: 3px solid #00ff79;
}
.subject-form:hover {
    border: 3px solid #00ff79;
}
.comments:hover {
    border: 3px solid #00ff79;
}
.comments {
    flex-basis: 30.44rem;
    padding: 1.3rem 0 0 1.3rem;
    text-transform: uppercase;
    font-family: var(--text-monsterat);
    font-weight: 700;
    border: 2px solid #413d46;
    border-radius: 3px;
}

.contact-form-btn {
    display: block;
    margin: auto;
    background-color: #fed136;
    color: #ffffff;
    padding: 1.5rem 2.938rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: var(--text-roboto);
    font-weight: 700;
    border-radius: 5px;
    margin-top: 1.8rem;
}
.footer {
    padding-bottom: 7rem;
}