* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: var(--text);
}
.container {
    min-width: 20rem;
    max-width: 50.5rem;
    margin: auto;
    padding: 0 1rem;
}
.main {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.article-title {
    font-size: 1.625rem;
    font-weight: bold;
    color: #333333;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.text {
    font-size: 1rem;
    color: #777777;
    margin-bottom: 0.625rem;
    line-height: 1.625rem;
}
.text:last-child {
    margin-bottom: 0;
}
.wrapper-img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/about-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.about {
    padding: 4.438rem 0;
}
.title {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.625rem;
}

@media (min-width: 992px) {
    .about {
        padding: 11rem 0;
    }
    .title {
        font-size: 3.875rem;
    }
}