:root {
    --text: 'Aquafina Script', serif;
    --text-roboto: 'Roboto', sans-serif;
    --text-monsterat: 'Montserrat', sans-serif;
    --btn-color: #36aeea;
    --text-pinyon: 'Pinyon', sans-serif;
    --text-wisdom: 'Wisdom', sans-serif;
}