
@font-face {
    font-family: 'SENYUM'; /*Название шрифта*/
    src: url('../font/SENYUM/SENYUM V1.woff2') format('woff2'),
    url('../font/SENYUM/SENYUM V1.woff') format('woff'),
    url('../font/SENYUM/SENYUM V1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sketchetica'; /*Подключаем сразу несколько вариантов шрифтов, в том числе и жриный и супержирный*/
    src: url('../font/Sketchetica-Light/Sketchetica-Light.woff2') format('woff2'), url('../font/Sketchetica-Light/Sketchetica-Light.woff') format('woff'), url('../font/Sketchetica-Light/Sketchetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sketchetica'; /*Подключаем сразу несколько вариантов шрифтов, в том числе и жриный и супержирный*/
    src: url('../font/Sketchetica-Bold/Sketchetica-Bold.woff2') format('woff2'), url('../font/Sketchetica-Bold/Sketchetica-Bold.woff') format('woff'), url('../font/Sketchetica-Bold/Sketchetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sketchetica'; /*Подключаем сразу несколько вариантов шрифтов, в том числе и жриный и супержирный*/
    src: url('../font/Sketchetica-Black/Sketchetica-Black.woff2') format('woff2'), url('../font/Sketchetica-Black/Sketchetica-Black.woff') format('woff'), url('../font/Sketchetica-Black/Sketchetica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}