@import "var.css";
@import "fonts.css";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*margin*/
/*Горизонтальный margin для блоков задается в процентах. Если бы по макету у нас были зазоры между articles и сайдбарами, и допустим articles был бы 46% шириной. Тогда ширины блоков выглядели бы следующим образом.*/

                                                                                                                                                       /*articles - 46%*/
/*left-sidebar - 25%*/
/*right-sidebar - 25%*/
/*articles левый и правый margin был бы по 2%*/
/*Итого занято 100% ширины content. Конечно, если мы используем Flexbox, то достаточно задать justify-content: space-between, явно задавать margin не надо. Зазоры между колонками все равно будут по 2%.*/



/*Применяется для перехода экрана на мобильную или планшетную версию*/
.wrapper {
    margin-bottom: 1rem;
}
.header {
    max-width: 960px;
    /*width: 100%;*/
    height: 11vh;
    background-color: yellow;
    margin: auto;
}
.container-task1 {
    min-width: 320px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /*height: 10vh;*/
    padding: 10px;
    /*background-color: yellow;*/
}
.footer {
    min-width: 320px;
    max-width: 960px;
    height: 11vh;
    background-color: green;
    padding: 10px;
    margin: auto;
}
.task-info {
    width: 55%;
    height: 21rem;
    background-color: blue;
    padding: 10px;
}
.task1-info {
    width: 20%;
    height: 21rem;
    background-color: gray;
    padding: 10px;
}
.sec {
    width: 20%;
    height: 21rem;
    background-color: orangered;
    padding: 10px;
}

/*Task2*/
.wrapp2 {
    margin-bottom: 1rem;
}
.tasktwo {
    text-align: center;
}
.container-task2 {
    min-width: 320px;
    max-width: 960px;
    background-color: navajowhite;
    padding: 1rem;
    margin: auto;
}
.task2 {
    height: 9vh;
    margin-bottom: 0.5rem;
    background-color: #fff24a;
}
.text {
    /*text-align: center;*/
    display: flex;
    height: 9vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;

}
.task22 {
    height: 9vh;
    background-color: #6dff66;
}

@media (min-width: 768px) {
    .container-task2 {
        display: flex;
        justify-content: space-between;
    }
    .task2 {
        width: 70%;
    }
    .task22 {
        width: 30%;
    }
}

.container-task3 {
    min-width: 320px;
    max-width: 960px;
    /*padding: 10px;*/
    background-color: gray;
    margin: auto;
    padding: 1rem;
}
.box {
    padding: 2rem;
    height: 20vh;
    margin-bottom: 0.5rem;
}
.box:last-child {
    margin-bottom: 0;
}
.box1 {
    background-color: #ff6356;
}
.box2 {
    background-color: #45ff51;
}
.box3 {
    background-color: #2a96ff;
    height: 10vh;
}
@media (min-width: 768px) {
    .container-task3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box1 {
        width: 100%;
    }
    .box2 {
        width: 60%;
        height: 50vh;
    }
    .box3 {
        width: 39%;
        height: 50vh;
    }


}